<!DOCTYPE html>
<html>
<head>
    <title>CROPDOC-homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='file.css') }}">
</head>
<body class="contentbgcolor">
    
    {% include 'options.html' %}    
    
    <div class="contentbgcolor">
        <div  class="slider scrollborder" style="text-align: end;">Crop disease
            <div  class="slide-track">
                <div style="height: 200px;" class="slide">
                    <img src="../static/s0.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s1.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s2.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s3.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s4.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s5.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s6.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s7.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s8.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s10.jpg">
                </div>
    
                <div style="height: 250px;" class="slide">
                    <img src="../static/s0.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s1.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s2.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s3.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s4.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s5.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s6.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s7.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s8.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/s10.jpg">
                </div>
    
            </div>
    
        </div>
    
    <div class="curved-block" style="font-size: 30px; color: rgb(10, 9, 9); text-align: center;"><u><strong>Crops with diseases...</strong></u><a href="identify disease.html">&nbsp;<br>click here to know yours!!!</a></div>
    <div  style="color:  rgb(35, 36, 37);">
        <h1  class="curved-block"><strong><U>THE BEST WAY TO INCREASE YOUR YEILD</U></strong></h1>

        <div class="curved-block"><h2 class="capitalize " >1.Weed And Pest Management</h2>
        <img src="../static/weed.jpg" class="image-right"> 
        <p class="paratextsize">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Effective weed control and pest management are crucial for maintaining the health and vitality of your garden or agricultural crops.We also offer environmentally friendly pest management strategies that protect your crops from harmful insects and diseases while minimizing the use of harmful chemicals. With our expertise, you can achieve a thriving and sustainable garden or farm, promoting both a healthy ecosystem and bountiful yields.</p></div>
        <div class="curved-block"><h2 class="capitalize">2.Plant Disease Prevention And Management</h2>
        <img src="../static/disease.jpg" class="image-right">
        <p class="paratextsize">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plant disease prevention and management are essential aspects of maintaining the health and productivity of your garden, landscape, or agricultural operation. Our services are designed to help you proactively protect your plants from diseases and manage outbreaks effectively. We offer a range of strategies, from cultural practices to biological controls and, when necessary, carefully selected pesticides. By identifying potential disease risks early and implementing tailored management plans, we ensure your plants thrive while minimizing the impact of diseases.</p></div>
        <div class="curved-block"><h2 class="capitalize">3.Integrated Pest Management (IPM) Solutions</h2>
        <img src="../static/pest.jpg" class="image-right">
        <p class="paratextsize">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our Integrated Pest Management (IPM) solutions are designed to provide a holistic and sustainable approach to pest control. We prioritize environmentally friendly methods that minimize the use of chemical pesticides while effectively managing pests. Our team of experts assesses your specific pest challenges and implements a tailored strategy that may include biological controls, habitat manipulation, and monitoring techniques. With a focus on long-term prevention, we aim to protect your plants and crops while preserving the balance of the ecosystem. Count on us for responsible and effective IPM solutions that promote the health and resilience of your green spaces and agricultural endeavors.</p></div>
        <div class="curved-block"><h2 class="capitalize">4.Crop Protection for a Bountiful Harvest</h2>
        <img src="../static/crop harvest.png" class="image-right">
        <p class="paratextsize">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Crop protection is at the heart of ensuring a successful and abundant harvest. We understand the critical role that safeguarding your crops plays in agriculture. Our comprehensive crop protection solutions are designed to shield your plants from pests, diseases, and adverse environmental conditions. We offer a range of sustainable and tailored approaches, including pest scouting, disease monitoring, and the judicious use of crop protection products when necessary. Our goal is to help you achieve not only high yields but also a resilient and sustainable agricultural system. Partner with us to ensure the health and longevity of your crops, securing your investment and contributing to a thriving agricultural future.</p></div>
        <div class="curved-block"><h2 class="capitalize">5.Fertile Soil: The Foundation of Successful Agriculture</h2>
        <img src="../static/fertilesoil.jpg" class="image-right">
        <p class="paratextsize">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Healthy soil is the cornerstone of productive agriculture, and at [Your Company Name], we specialize in soil management and enhancement. Our soil experts work diligently to assess and improve the fertility and structure of your soil, ensuring optimal conditions for plant growth. Through soil testing, nutrient management, and sustainable practices, we help you unlock the full potential of your land while promoting long-term soil health. Whether you're a farmer, gardener, or land manager, we're committed to supporting your soil's vitality and, ultimately, your success. Join us in nurturing the very foundation of agriculture: the soil beneath your feet.</p></div>
    </div>
    <div   class="slider scrollborder" style="text-align: end;">Crop disease
            <div  class="slide-track">
                <div style="height: 200px;" class="slide">
                    <img src="../static/c00.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/c01.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/c02.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/c03.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/c04.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/c05.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/c06.jpg">
                </div>

                <div style="height: 200px;" class="slide">
                    <img src="../static/c00.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/c01.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/c02.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/c03.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/c04.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/c05.jpg">
                </div>
                <div style="height: 250px;" class="slide">
                    <img src="../static/c06.jpg">
                </div>
            </div>
            
    </div>
        <div style="font-size: 20px; color: rgb(0, 0, 0); text-align: center;"><u><strong>Benefits of CROPDOC</strong></u></div>

                
        
        <div>
        <h1  class="curved-block"><strong><u>Benefits of CROPDOC&nbsp;&nbsp;</u></strong><img src="../static/leafsymbol-photoaidcom-cropped.jpg" style="height: 40%; width: 60px;"></h1><ol>
        <div class="curved-block"><h2  class="capitalize"><li>Early Disease Detection</li></h2>
        <p class="paratextsize">Disease identification allows for the early detection of plant diseases. This early warning system enables farmers to take immediate action, preventing the spread of diseases and minimizing crop damage.</p></div>
        <div class="curved-block"><h2 class="capitalize"><li>Increased yield</li></h2>
        <p class="paratextsize"> Predicting crop yields helps farmers optimize their farming practices. By adjusting planting, irrigation, fertilization, and pest control strategies based on yield predictions, farmers can maximize their harvests and overall productivity.</p></div>
        <div class="curved-block"><h2 class="capitalize"><li>Improved Crop Quality</li></h2> 
        <p class="paratextsize">Disease identification and yield prediction can contribute to better crop quality. Farmers can adjust their practices to optimize factors like crop spacing, nutrient levels, and irrigation, resulting in higher-quality produce.</p></div>
        <div class="curved-block"><h2 class="capitalize"><li> Increased Profitability</li></h2> 
        <p class="paratextsize">Ultimately, disease identification and yield prediction can lead to increased profitability for farmers. Maximizing yields while minimizing costs and risks is a formula for financial success in agriculture.</p></div>
        <div class="curved-block"><h2 class="capitalize"><li>Food Security</li></h2> 
        <p class="paratextsize">These technologies play a role in ensuring food security by helping farmers optimize production and reduce crop losses due to diseases and unpredictable factors.</p></div>
    </ol></div>
    
    <div class="contactus">
        <h1 style="color: aliceblue; font-size: xx-large;">CONTACT</h1>
        <p style="color: aliceblue;font-size: larger;">Cropdoc Informatics S.A.&<br>
            21, Aristotelous str. — 54624 India<br>
            Tel: +30231028865416<br>
            E-mail: info@cropdoc.ac.in — Website: www.cropdoc.in<br>
        <p style="text-align: center; color: aliceblue;">© Copyright 2022-2026</p>
        </p>

    </div>
</body>
</html>
