<div class="image" style="border-color: rgb(175, 168, 209);">CROPDOC<img src="../static/leafsymbol-photoaidcom-cropped.jpg" class="image-symbol"></div>
<div class="options" style="border-radius: 10px;">
    <a href="{{ url_for('index') }}"><button style="background-color: aliceblue; height: 100%;">Home</button></a>
    <a href="{{ url_for('identify_disease_page') }}"><button style="background-color: aliceblue; height: 100%;">Identify disease</button></a>
    <a href="{{ url_for('compare_disease') }}"><button style="background-color: aliceblue; height: 100%;">Compare Disease</button></a>
    <a href="{{ url_for('yeild_pred_page') }}"><button style="background-color: aliceblue; height: 100%;">Yeild Prediction</button></a>
    <a href="{{ url_for('fertigation') }}"><button style="background-color: aliceblue; height: 100%;">Fertigation</button></a>
</div>